<% content_for :title do %>A/B Significance by OpenAdTools<% end %>
<% content_for :description do %>Calculate the statistical significance of A/B Tests with the click of a button.<% end %>
<% content_for :tweet do %>"Use A/B Significance by @OpenAdTools to calculate the statistical significance of your A/B Tests => http://bit.ly/OpenAdTools"<% end %>

<div class="page-header">
  <h1>Campaign Calculator</h1>
  <p class="lead">Calculate the statistical significance of A/B Tests with the click of a button.</p>
</div>

<form onsubmit="return false;" class="form">
  <div class="float-left">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title center">Control Results</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div>
              <input type="text" id="inputVisC" value="2000">
              <label for="inputVisC">Visitors</label>
          </div>
          <div>
              <input type="text" id="inputConC" value="134">
              <label for="inputConC">Conversions</label>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title center">Test Results</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div>
              <input type="text" id="inputVisT" value="3000">
              <label for="inputVisT">Visitors</label>
          </div>
          <div>
              <input type="text" id="inputConT" value="165">
              <label for="inputConT">Conversions</label>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button class="submit btn btn-primary btn-lg" onclick="calcSignificance();" >Calculate Significance</button>
    </div>
  </div>

  <div class="panel panel-default float-left">
    <div class="panel-heading">
      <h3 class="panel-title center">Statistically Significant?</h3>
    </div>
    <div class="panel-body center">
      <div id="output">
        Enter your test results, then click the 'Calculate Significance' button.
      </div>
    </div>
  </div>
</form>

<%= javascript_tag do %>

function calcSignificance() {
    var visC = document.getElementById('inputVisC').value;
    var conC = document.getElementById('inputConC').value;
    var visT = document.getElementById('inputVisT').value;
    var conT = document.getElementById('inputConT').value;

    var output = document.getElementById('output');

    var value = "Still working on the formula... sorry!";

    var convRateC = conC / visC;
    var convRateT = conT / visT;

    var diffInConvRate = (convRateT - convRateC) / convRateC;

    var stdErrorC = Math.sqrt(convRateC * (1 - convRateC) / visC);
    var stdErrorT = Math.sqrt(convRateT * (1 - convRateT) / visT);

    var confIntC = 1.96 * stdErrorC;
    var confIntT = 1.96 * stdErrorT;

    var zScore = (convRateC - convRateT) / Math.sqrt(Math.pow(stdErrorC) + Math.pow(stdErrorT));

    var pValue = "";

    if (zScore < -6.5) {
        pValue = 0;
    }
    else if (zScore > 6.5) {
        pValue = 1;
    } else {
        var factK = 1;
        var sum = 0;
        var term = 1;
        var k = 0;
        var loopStop = Math.exp(-23);

        while (Math.abs(term) > loopStop) {
            term = 0.3989422804 * Math.pow(-1, k) * Math.pow(zScore, k) / (2 * k + 1) / Math.pow(2, k) * Math.pow(zScore, k + 1) / factK;
            sum += term;
            k++;
            factK *= k;
        }
        sum += 0.5;
        pValue = sum * 100;
    }

    value = "P Value is: " + pValue;

    output.innerHTML = value;
};

<% end %>