<% content_for :title do %>A/B Significance by OpenAdTools<% end %>
<% content_for :description do %>Calculate the statistical significance of A/B Tests with the click of a button.<% end %>
<% content_for :tweet do %>"Use A/B Significance by @OpenAdTools to calculate the statistical significance of your A/B Tests => http://bit.ly/OpenAdTools"<% end %>

<div class="page-header">
  <h1>Campaign Calculator</h1>
  <p class="lead">Calculate the statistical significance of A/B Tests with the click of a button.</p>
</div>

<form onsubmit="return false;" class="form">
  <div class="float-left">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title center">Control Results</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div>
              <input type="text" id="inputVisC" value="2000">
              <label for="inputVisC">Visitors</label>
          </div>
          <div>
              <input type="text" id="inputConC" value="134">
              <label for="inputConC">Conversions</label>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title center">Test Results</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div>
              <input type="text" id="inputVisT" value="2000">
              <label for="inputVisT">Visitors</label>
          </div>
          <div>
              <input type="text" id="inputConT" value="165">
              <label for="inputConT">Conversions</label>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button class="submit btn btn-primary btn-lg" onclick="calcSignificance();" >Calculate Significance</button>
    </div>
  </div>

  <div class="panel panel-default float-left">
    <div class="panel-heading">
      <h3 class="panel-title center" id="output-header">Statistically Significant?</h3>
    </div>
    <div class="panel-body">
      <div id="output">
        Enter your test results, then click the 'Calculate Significance' button.
      </div>
    </div>
  </div>
</form>


<%= javascript_tag do %>

function calcSignificance() {
  var visC = document.getElementById('inputVisC').value;
  var conC = document.getElementById('inputConC').value;
  var visT = document.getElementById('inputVisT').value;
  var conT = document.getElementById('inputConT').value;

  var output = document.getElementById('output');
  var outputHeader = document.getElementById('output-header');

  var convRateC = conC / visC;
  var convRateT = conT / visT;

  var diffInConvRate = (convRateT - convRateC) / convRateC * 100;

  var stdErrorC = Math.sqrt(convRateC * (1 - convRateC) / visC);
  var stdErrorT = Math.sqrt(convRateT * (1 - convRateT) / visT);

  var confIntC = 1.96 * stdErrorC;
  var confIntT = 1.96 * stdErrorT;

  var zScore = (convRateC - convRateT) / Math.sqrt(Math.pow(stdErrorC,2) + Math.pow(stdErrorT,2));

  var pValue = "";

  var factK = 1;
  var sum = 0;
  var term = 1;
  var k = 0;
  var loopStop = Math.exp(-23);

  while (Math.abs(term) > loopStop) {
    term = 0.3989422804 * Math.pow(-1, k) * Math.pow(zScore, k) / (2 * k + 1) / Math.pow(2, k) * Math.pow(zScore, k + 1) / factK;
    sum += term;
    k++;
    factK *= k;
  }
  sum += 0.5;
  pValue = sum * 100;

  var bodyOutput = "";

  var usersNeeded = "X";

  // Calculate statistical significance
  if (pValue <= 5 || pValue >= 95) {
    outputHeader.innerHTML = "YES!";

    bodyOutput = "<p class='center'>The test is statistically significant.</p>";

    if (pValue <= 5) {
      bodyOutput += "<p class='center'>We are <em>"+(100-pValue).toFixed(2)+"%</em> sure that ";
    } else if (pValue >= 100) {
      bodyOutput += "<p class='center'>We are close to <em>100%</em> sure that ";
    } else {
      bodyOutput += "<p class='center'>We are <em>"+pValue.toFixed(2)+"%</em> sure that ";
    }

    if (diffInConvRate > 0) {
      bodyOutput += "the test variation performs <strong>"+diffInConvRate.toFixed(2)+"%</strong> better.</p>";
    } else {
      bodyOutput += "the test variation performs <strong>"+Math.abs(diffInConvRate).toFixed(2)+"%</strong> worse.</p>";
    }

    bodyOutput += "<hr>";
    bodyOutput += "<p>Control Conv. Rate: <strong>"+(convRateC*100).toFixed(2)+"%</strong><small> &plusmn; "+(stdErrorC*100).toFixed(2)+"</small></p>";
    bodyOutput += "<p>Test Conv. Rate: <strong>"+(convRateT*100).toFixed(2)+"%</strong><small> &plusmn; "+(stdErrorT*100).toFixed(2)+"</small></p>";
    bodyOutput += "<p>Difference: <strong>"+diffInConvRate.toFixed(2)+"%</strong></p>";
    bodyOutput += "<p>P Value: <strong>"+(100-pValue).toFixed(2)+"</strong></p>";

  } else {
    outputHeader.innerHTML = "Not Statistically Significant";
    bodyOutput = "<p class='center'>So far we are only <em>"+pValue.toFixed(2)+"%</em> sure that the <strong>"+diffInConvRate.toFixed(2)+"%</strong> difference in conversion rate isn't just due to random noise in the data.";
    bodyOutput += "<hr>";
    bodyOutput += "<p class='center'>Keep running the test until "+usersNeeded+" more visitors have been exposed.";
  }
  output.innerHTML = bodyOutput;
};

<% end %>