<% content_for :title do %>Budget RunRate by OpenAdTools<% end %>
<% content_for :description do %>Calculate how long your budget will last at the current run rate.<% end %>
<% content_for :tweet do %>"Use Budget RunRate by @OpenAdTools to calculate how long your budget will last => http://bit.ly/OpenAdTools"<% end %>

<div class="page-header">
  <h1>Budget RunRate</h1>
  <p class="lead">Calculate how long your budget will last at the current run rate.</p>
</div>

<div id="chart"><svg></svg></div>

<form onsubmit="return false;" class="form">
  <div class="float-left">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title center">Spend So Far</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div>
            <input type="date" id="start">
            <label for="start">Budget Start</label>
          </div>
          <div>
            <input type="text" id="budget">
            <label for="budget">Budget</label>
          </div>
          <div>
            <input type="text" id="spent">
            <label for="spent">Spent So Far</label>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button class="submit btn btn-primary btn-lg" onclick="calcRunRate();" >Calculate Run Rate</button>
    </div>
  </div>
  <div id="output"></div>
</form>

<script>

$(document).ready(function() {
  $('#chart').hide();
});

var _MS_PER_DAY = 1000 * 60 * 60 * 24;

var today = new Date();

function calcRunRate() {
  var output = document.getElementById('output');
  output.className = "panel panel-default float-left";

  var spent = document.getElementById('spent').value;
  var start = document.getElementById('start').value;
  var budget = document.getElementById('budget').value;
  var results = "";

  var startDate = new Date(start);

  var dateDiff = dateDiffInDays(startDate, today);
  var budgetLeft = budget - spent;
  var runRate = spent / dateDiff;
  var daysLeft = Math.floor(budgetLeft / runRate);

  results += "<div class='panel-heading'><h3 class='panel-title center'>Budget RunRate</h3></div>";

  results += "<div class='panel-body'>"

  results += "<p>Spend Per Day: <strong>"+runRate.toFixed(2)+"</strong></p>";
  results += "<p>Budget Left: <strong>"+budgetLeft+"</strong></p>";

  if (daysLeft == 0) {
    results += "<p>Your budget will run out <strong>today</strong>!</p>";
  } else if (daysLeft < 0) {
    results += "<p>You have overspent by <strong>"+Math.abs(budgetLeft)+"</strong>!</p>";
  } else {
    results += "<p><strong>"+daysLeft+"</strong> Days Left at current run rate.</p>";
  }

  results += "</div>";

  if (!spent || !start) {
    output.innerHTML = "Please enter a valid budget start date and spend so far";
    alert("Please enter a valid budget start date and spend so far");
  }

  output.innerHTML = results;

  $('#chart').show();

  nv.addGraph(function() {  
    var chart = nv.models.bulletChart()
                  .tooltips(false);

    d3.select('#chart svg')
        .attr('height', 100)
        .attr('width', 700)
        .datum(data())
        .transition().duration(100)
        .call(chart);

    $('.nv-title').html(spent);

    return chart;
  });

  function data() {
    return {
      "title": spent,    //Label the bullet chart
      "subtitle": "spent so far",   //sub-label for bullet chart
      "ranges":[spent,budget/2,budget*1.1],  //Minimum, mean and maximum values.
      "measures":[spent],    //Value representing current measurement (the thick blue line in the example)
      "markers":[budget]      //Place a marker on the chart (the white triangle marker)
    };
  }
};


// a and b are javascript Date objects
function dateDiffInDays(a, b) {
  // Discard the time and time-zone information.
  var utc1 = Date.UTC(a.getFullYear(), a.getMonth(), a.getDate());
  var utc2 = Date.UTC(b.getFullYear(), b.getMonth(), b.getDate());

  return Math.floor((utc2 - utc1) / _MS_PER_DAY);
}

</script>
