<% content_for :title do %>Line Chart by OpenAdTools<% end %>
<% content_for :description do %>Paste your data straight from excel and instantly create a line chart.<% end %>

<div class="page-header">
  <h1>Line Chart</h1>
  <p class="lead">Paste your data straight from excel and instantly create a line chart.</p>
</div>

<br>

<div id="chart"><svg></svg></div>
<hr>

<form onsubmit="return false;">
	<button class="submit btn btn-primary btn-lg" onclick="graph();" >Update Chart</button>
	<br><br>
	<h3>Input Data <small>(paste your data straight from excel)</small></h3>
	<div class="col-md-4">
	<textarea class="form-control" rows="10" id="textinput" placeholder="Paste the data you want to display as a line chart here..." autofocus >Date   Cost    Clicks
1/1/2014    994 2041
1/2/2014    512 2758
1/3/2014    308 1004
1/4/2014    741 2041
1/5/2014    50  107
1/6/2014    363 937
1/7/2014    676 1263
1/8/2014    556 689
1/9/2014    49  89
1/10/2014   448 637
1/11/2014   985 3018
1/12/2014   840 875
1/13/2014   624 960
1/14/2014   293 2538
1/15/2014   611 2982
1/16/2014   121 1534
1/17/2014   906 3044
1/18/2014   133 276
1/19/2014   712 1131
1/20/2014   728 1396
1/21/2014   404 525
1/22/2014   987 5070
1/23/2014   979 5749
1/24/2014   903 1240
1/25/2014   559 1483
1/26/2014   127 332
1/27/2014   759 10201
1/28/2014   927 1422
1/29/2014   415 1105
1/30/2014   17  26
1/31/2014   946 7965
2/1/2014    373 1379
2/2/2014    738 1588
2/3/2014    266 285
2/4/2014    46  223</textarea>
<br><br><br>
</div>
</form>


<script type="text/javascript">

/*These lines are all chart setup.  Pick and choose which chart features you want to utilize. */
nv.addGraph(function() {
  var chart = nv.models.lineChart()
                .margin({left: 50, right: 50})  //Adjust chart margins to give the x-axis some breathing room.
                .useInteractiveGuideline(true)  //We want nice looking tooltips and a guideline!
                .transitionDuration(350)  //how fast do you want the lines to transition?
                .showLegend(true)       //Show the legend, allowing users to turn on/off line series.
                .showYAxis(true)        //Show the y-axis
                .showXAxis(true)        //Show the x-axis
  ;

  chart.xAxis     //Chart x-axis settings
      .tickFormat(d3.format(',r'));

  chart.yAxis     //Chart y-axis settings
      .tickFormat(d3.format('.02f'));

  /* Done setting the chart up? Time to render it!*/
  var myData = sinAndCos();   //You need data...

  d3.select('#chart svg')    //Select the <svg> element you want to render the chart in.
      .attr("height", 300)   
      .datum(myData)         //Populate the <svg> element with chart data...
      .call(chart);          //Finally, render the chart!

  //Update the chart when window resizes.
  nv.utils.windowResize(function() { chart.update() });
  return chart;
});
/**************************************
 * Simple test data generator
 */

var cl = function(arg) {
  console.log(arg);
}

//var tsv is the TSV file with headers
function tsvJSON(tsv){
 
  var lines=tsv.split("\n");
 
  var result = [];
 
  var headers=lines[0].split("\t");
 
  for(var i=1;i<lines.length;i++){
 
    var obj = {};
    var currentline=lines[i].split("\t");
 
    for(var j=0;j<headers.length;j++){
      obj[headers[j]] = currentline[j];
    }
 
    result.push(obj);
 
  }
  
  //return result; //JavaScript object
  return JSON.stringify(result); //JSON
}

function getData() {
    var raw = document.getElementById('textinput').value
    cl(raw);
    var JSONified = tsvJSON(raw);
    cl(JSONified);

}

function sinAndCos() {
  var sin = [], sin2 = [],
      cos = [], line = [];

  //Data is represented as an array of {x,y} pairs.
  for (var i = 0; i < 100; i++) {
    sin.push({x: i, y: Math.sin(i/10)});
    sin2.push({x: i, y: Math.sin(i/10) *0.25 + 0.5});
    cos.push({x: i, y: .5 * Math.cos(i/10)});
    line.push({x: i, y: .5});
  }

  //Line chart data should be sent as an array of series objects.
  return [
    {
      values: sin,      //values - represents the array of {x,y} data points
      key: 'Sine Wave', //key  - the name of the series.
      color: '#ff7f0e'  //color - optional: choose your own line color.
    },
    {
      values: cos,
      key: 'Cosine Wave',
      color: '#2ca02c'
    },
    {
      values: sin2,
      key: 'Another sine wave',
      color: '#7777ff',
    },
    {
      values: line,
      key: 'line wave',
      color: '#000000',
    }
  ];
}

</script>