<% content_for :title do %>Line Chart by OpenAdTools<% end %>
<% content_for :description do %>Paste your data straight from excel and instantly create a line chart.<% end %>

<div class="page-header">
  <h1>Line Chart</h1>
  <p class="lead">Paste your data straight from excel and instantly create a line chart.</p>
</div>

<br>

<div id="chart"><svg></svg></div>
<hr>

<form onsubmit="return false;">
	<button class="submit btn btn-primary btn-lg" onclick="graph();" >Update Chart</button>
	<br><br>
	<h3>Input Data <small>(paste your data straight from excel)</small></h3>
	<div class="col-md-4">
	<textarea class="form-control" rows="10" id="textinput" placeholder="Paste the data you want to display as a line chart here..." autofocus >5
10
13
19
21
25
22
18
15
13
11
12
15
20
18
17
16
18
23
25</textarea>
<br><br><br>
</div>
</form>


<script type="text/javascript">

/*These lines are all chart setup.  Pick and choose which chart features you want to utilize. */
nv.addGraph(function() {
  var chart = nv.models.lineChart()
                .margin({left: 50, right: 50})  //Adjust chart margins to give the x-axis some breathing room.
                .useInteractiveGuideline(true)  //We want nice looking tooltips and a guideline!
                .transitionDuration(350)  //how fast do you want the lines to transition?
                .showLegend(true)       //Show the legend, allowing users to turn on/off line series.
                .showYAxis(true)        //Show the y-axis
                .showXAxis(true)        //Show the x-axis
  ;

  chart.xAxis     //Chart x-axis settings
      .tickFormat(d3.format(',r'));

  chart.yAxis     //Chart y-axis settings
      .tickFormat(d3.format('.02f'));

  /* Done setting the chart up? Time to render it!*/
  var myData = sinAndCos();   //You need data...

  d3.select('#chart svg')    //Select the <svg> element you want to render the chart in.
      .attr("height", 300)   
      .datum(myData)         //Populate the <svg> element with chart data...
      .call(chart);          //Finally, render the chart!

  //Update the chart when window resizes.
  nv.utils.windowResize(function() { chart.update() });
  return chart;
});
/**************************************
 * Simple test data generator
 */
function sinAndCos() {
  var sin = [], sin2 = [],
      cos = [], line = [];

  //Data is represented as an array of {x,y} pairs.
  for (var i = 0; i < 100; i++) {
    sin.push({x: i, y: Math.sin(i/10)});
    sin2.push({x: i, y: Math.sin(i/10) *0.25 + 0.5});
    cos.push({x: i, y: .5 * Math.cos(i/10)});
    line.push({x: i, y: .5});
  }

  //Line chart data should be sent as an array of series objects.
  return [
    {
      values: sin,      //values - represents the array of {x,y} data points
      key: 'Sine Wave', //key  - the name of the series.
      color: '#ff7f0e'  //color - optional: choose your own line color.
    },
    {
      values: cos,
      key: 'Cosine Wave',
      color: '#2ca02c'
    },
    {
      values: sin2,
      key: 'Another sine wave',
      color: '#7777ff',
    },
    {
      values: line,
      key: 'line wave',
      color: '#000000',
    }
  ];
}

</script>