<% content_for :title do %>Link Tracker by OpenAdTools<% end %>
<% content_for :description do %>Quickly add UTM tracking parameters to your marketing campaign links.<% end %>
<div class="page-header">
  <h1>Link Tracker</h1>
  <p class="lead">Quickly add UTM tracking parameters to your marketing campaign links.</p>
</div>

<form class="form-horizontal" role="form" onsubmit="return false;" >
	<div class="form-group">
    <label class="col-sm-2 control-label">URL*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputURL" placeholder="What landing page will users land on?" required autofocus >
      <span class="help-block">e.g. 'http://www.yourwebsite.com/yourlandingpage'</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">utm_source*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputSource" placeholder="What publisher or network is serving your ads?" required >
      <span class="help-block">
      	<button class="btn btn-default btn-s"><span>facebook</span></button>
      	<button class="btn btn-default btn-s"><span>twitter</span></button>
      	<button class="btn btn-default btn-s"><span>google</span></button>
      	<button class="btn btn-default btn-s"><span>bing</span></button>
      	<button class="btn btn-default btn-s"><span>criteo</span></button>
      	<button class="btn btn-default btn-s"><span>newsletter</span></button>
      	<button class="btn btn-default btn-s"><span>powereditor</span></button>
      	<button class="btn btn-default btn-s"><span>adwords</span></button>
      	<button class="btn btn-default btn-s"><span>adcenter</span></button>
      	<button class="btn btn-default btn-s"><span>buffer</span></button>
      	<button class="btn btn-default btn-s"><span>mailchimp</span></button>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">utm_medium*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputMedium" placeholder="What marketing channel is this?" required >
      <span class="help-block">
      	<button class="btn btn-default btn-s"><span>social</span></button>
      	<button class="btn btn-default btn-s"><span>email</span></button>
      	<button class="btn btn-default btn-s"><span>display</span></button>
      	<button class="btn btn-default btn-s"><span>retargeting</span></button>  	
      	<button class="btn btn-default btn-s"><span>search</span></button>
      	<button class="btn btn-default btn-s"><span>affiliate</span></button>
      	<button class="btn btn-default btn-s"><span>video</span></button>
      	<button class="btn btn-default btn-s"><span>cpm</span></button>
      	<button class="btn btn-default btn-s"><span>cpc</span></button>
      	<button class="btn btn-default btn-s"><span>cpa</span></button>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">utm_campaign*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputCampaign" placeholder="What is this campaign promoting?" required >
      <span class="help-block">e.g. '20pc+off+code', 'new+product+launch', 'sweepstakes+maldives' or 'pid:03839129'</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="inputDate" checked > Add time and date?
          <span class="help-block">e.g. '&utm_campaign=newsletter<em id="inputDate">-<%= Time.now.strftime("%Y-%b-%d-%a-%H:%M") %></em>'</span>
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">utm_content</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputContent" placeholder="What type of ad format is this?" >
      <span class="help-block">
      	<button class="btn btn-default btn-s"><span>300x250</span></button>
      	<button class="btn btn-default btn-s"><span>728x90</span></button>
      	<button class="btn btn-default btn-s"><span>160x600</span></button>
      	<button class="btn btn-default btn-s"><span>336x280</span></button>
      	<button class="btn btn-default btn-s"><span>300x600</span></button>
      	<button class="btn btn-default btn-s"><span>120x600</span></button>
      	<button class="btn btn-default btn-s"><span>timeline</span></button>
      	<button class="btn btn-default btn-s"><span>rightrail</span></button>
      	<button class="btn btn-default btn-s"><span>link</span></button>
      	<button class="btn btn-default btn-s"><span>text</span></button>
      	<button class="btn btn-default btn-s"><span>blogpost</span></button>
      	<button class="btn btn-default btn-s"><span>trueview</span></button>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">utm_text</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputText" placeholder="What keyword did users search for?" >
      <span class="help-block">e.g. 'red+dress', 'cheap+flights+to+alicante' or 'marketing+automation+software'</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg" onclick="trackLink();" >Track Link</button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <h3>Output:</h3>
      <p class="well"><span class="text-muted">This is where your Tracked Link will appear<span></p>
      <a href='#top'>Back to Top &#94;</a>
    </div>
  </div>
</form>

<%= javascript_tag do %>

function trackLink() {

  var url = document.getElementById("inputURL")
  var source = document.getElementById("inputURL")
  var medium = document.getElementById("inputURL")
  var campaign = document.getElementById("inputURL")
  var date = var url = document.getElementById("inputURL")
  var content = document.getElementById("inputURL")
  var term = document.getElementById("inputURL")

<% end %>



