<% content_for :title do %>Link Tracker by OpenAdTools<% end %>
<% content_for :description do %>Link Tracker helps you quickly add utm parameters to your URLs in order to create tracked links for marketing campaigns.<% end %>

<div class="page-header">
  <h1>Link Tracker</h1>
  <p class="lead">Quickly add UTM tracking parameters to your marketing campaign links.</p>
</div>