<% content_for :title do %>Tab to CSV by OpenAdTools<% end %>
<% content_for :description do %>Convert Tab Delimited Text into Comma Seperated Values (CSV) at the click of a button.<% end %>

<div class="page-header">
  <h1>Tab to CSV</h1>
  <p class="lead">Convert Tab Delimited Text into Comma Seperated Values (CSV) with one click.</p>
</div>

<form onsubmit="return false;">
	<textarea class="form-control" rows="10" id="textinput" 
    placeholder=
"Paste the tab-delimited data you want to convert to CSV here...." 
    autofocus ></textarea>
	<button class="submit btn btn-primary btn-lg pull-right" onclick="tabToCSV();" >Tab to CSV</button>
</form>
<br><br><br>

<p class="text-muted">This tool was created by <%= link_to "Victor W. Yee", "http://victorwyee.com/js/convert-tab-delimited-text-into-comma-separated-text-with-pure-javascript/" %>, before being reproduced and modified here.</p>

<%= javascript_tag do %>

function tabToCSV() {

	var obj = document.getElementById("textinput")
  var data = obj.value;
  obj.value = "";
  var lines = data.split('\n');
  var finished = [];

  for (var i = 0; i < lines.length-1; i++) {
    var find = '(\t(?=(?:(?:[^"]*"){2})*[^"]*$))';
    var regex = new RegExp (find, 'g');
    var converted = lines[i].replace(regex, ',');
    finished.push(converted);
  }

  obj.value = finished.join('\n');
}

<% end %>