<% content_for :title do %>OpenAdTools | Open-Source Tools for Performance Marketers. <% end %>
<% content_for :description do %>OpenAdTools is a collection of open-source tools, designed for use by performance marketers. The tools are free to use, don't require you to hand over an email or password and don't store any personal or sensitive information about you or your company.<% end %>

<div class="page-header">
  <h1>OpenAdTools <small>Open-source tools for performance marketers.</small></h1>
  <p>No login required | No sensitive data stored | No purchase necessary.</p>
</div>

<%= link_to "#" do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title"><button type="button" class="btn btn-primary btn-lg btn-block">Link Tracker</button></h3>
	  </div>
	  <div class="panel-body text-center">
	    Link Tracker helps you quickly add utm parameters to your URLs in order to create tracked links for marketing campaigns. 
	  </div>
	</div>
<% end %>
<%= link_to "#" do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title"><button type="button" class="btn btn-primary btn-lg btn-block">Link Tracker</button></h3>
	  </div>
	  <div class="panel-body text-center">
	    Link Tracker helps you quickly add utm parameters to your URLs in order to create tracked links for marketing campaigns. 
	  </div>
	</div>
<% end %>
<%= link_to "#" do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title"><button type="button" class="btn btn-primary btn-lg btn-block">Link Tracker</button></h3>
	  </div>
	  <div class="panel-body text-center">
	    Link Tracker helps you quickly add utm parameters to your URLs in order to create tracked links for marketing campaigns. 
	  </div>
	</div>
<% end %>
<%= link_to "#" do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title"><button type="button" class="btn btn-primary btn-lg btn-block">Link Tracker</button></h3>
	  </div>
	  <div class="panel-body text-center">
	    Link Tracker helps you quickly add utm parameters to your URLs in order to create tracked links for marketing campaigns. 
	  </div>
	</div>
<% end %>
