<div class="disclaimer">
	<hr>

	<h5 class="text-muted small text-center">DISCLAIMER</h5>
	<p class="text-muted">
	The tools on this site are provided as is, without any guarantee or waranty. I'd be the first person to admit I am not to be trusted with sensitive information, so I designed these tools not to record any - check the <%= link_to "source code", "https://github.com/mjt145/openadtools", target: "_blank" %> if you don't believe me. These tools are the work of a <%= link_to "passionate amateur", about_path %> so you'll most likely find that something doesn't work properly or that could be improved. In which case <%= link_to "let me know", "https://twitter.com/2michaeltaylor", target: "_blank" %> and I'll see what I can do... no promises though because I just started watching something awesome on <%= link_to "Netflix", "https://www.netflix.com/movie/Sherlock/70202589", target: "_blank" %>...
	</p>
</div>
