<div class="footer">
  <div class="container">
  	<br>
    <p class="text-muted credit pull-left">Built in Foggy London Town by <%= link_to "@2michaeltaylor", "https://twitter.com/2michaeltaylor", target: "_blank" %></p>
    <p class="pull-right">Source code available on <%= link_to "GitHub", "https://github.com/mjt145/openadtools", target: "_blank" %></p>
  </div>
</div>