<div id="footer">
  <div class="container">
    <p class="pull-left text-muted">Built in Foggy London Town by <%= link_to "@2michaeltaylor", "https://twitter.com/2michaeltaylor", target: "_blank" %></p> <a href="https://plus.google.com/113509596071709164639" rel="publisher"></a>
    <p class="pull-right text-muted">Source code available on <%= link_to "GitHub", "https://github.com/mjt145/openadtools", target: "_blank" %></p>
  </div>
</div>

