<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <span class="glyphicon glyphicon-wrench"></span> OpenAdTools
    <% end %>
    <div class="nav navbar-nav">
      <p><%= link_to "Open-Source Tools for Performance Marketers.", about_path , class: "navbar-text" %></p>
    </div>
    <a id="newsletter-signup" href="http://eepurl.com/TWJfL"><button type="button" class="btn btn-default navbar-btn navbar-right">Sign Up To Our Newsletter</button></a>
  </div>
</nav>