<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <span class="glyphicon glyphicon-wrench"></span> OpenAdTools
    <% end %>
    <div class="nav navbar-nav">
      <p><%= link_to "Open-Source Tools for Performance Marketers.", about_path , class: "navbar-text" %></p>
    </div>
    <div class="nav navbar-nav navbar-right">
      <li><a href="https://twitter.com/OpenAdTools" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="true">Follow @OpenAdTools</a></li>
    </div>
  </div>
</nav>