<div class="container tweet">
  <p class="pull-right">"Check out @OpenAdTools for open-source, free #marketing tools."
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.openadtools.com" data-text="Check out @OpenAdTools for open-source, free #marketing tools.">Tweet</a>
  </p>
</div>