<div class="container tweet">
  <p class="pull-right"><%= content_for?(:tweet) ? yield(:tweet) : "Check out @OpenAdTools for open-source, free #marketing tools => http://bit.ly/OpenAdTools" %> 
    <a href="https://twitter.com/share" class="twitter-share-button" data-text=<%= content_for?(:tweet) ? yield(:tweet) : "Check out @OpenAdTools for open-source, free #marketing tools => http://bit.ly/OpenAdTools" %>>Tweet</a>
  </p>
</div>